[Desktop Entry]
Type=Application
Name=Input Leap
Comment=Keyboard and mouse sharing solution
Exec=input-leap
Icon=input-leap
Terminal=false
Categories=Utility;Network;
Keywords=keyboard;mouse;sharing;network;share;
StartupWMClass=io.github.input_leap.InputLeap
