[Desktop Entry]
Type=Application
Name=Input Leap
Comment=Keyboard and mouse sharing solution
Exec=input-leap
Icon=input-leap
Terminal=false
Categories=Utility;RemoteAccess;
Keywords=keyboard;mouse;sharing;network;share;
